[submodule "lisp/clojure-mode"]
	path = lisp/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "site-lisp/scala-mode"]
	path = site-lisp/scala-mode
	url = https://github.com/haxney/scala-mode.git
[submodule "site-lisp/scala-mode2"]
	path = site-lisp/scala-mode2
	url = git://github.com/hvesalai/scala-mode2.git
[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = git@github.com:emacs-helm/helm.git
[submodule "site-lisp/emacs-async"]
	path = site-lisp/emacs-async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "site-lisp/projectile"]
	path = site-lisp/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "site-lisp/s.el"]
	path = site-lisp/s.el
	url = git@github.com:magnars/s.el.git
[submodule "site-lisp/dash.el"]
	path = site-lisp/dash.el
	url = git@github.com:magnars/dash.el.git
[submodule "site-lisp/pkg-info.el"]
	path = site-lisp/pkg-info.el
	url = git@github.com:lunaryorn/pkg-info.el.git
[submodule "site-lisp/epl"]
	path = site-lisp/epl
	url = git@github.com:cask/epl.git
[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git://orgmode.org/org-mode.git
